
<section>
    <div class="px-8 py-6 mx-auto md:px-12 lg:px-10 max-w-7xl">
      <div class="p-2 border bg-gray-50 rounded-3xl">
        <div class="p-10 bg-white border shadow-lg md:p-10 rounded-3xl">
          <span class="text-sm font-semibold text-gray-500 uppercase">✺ lexington themes</span>
          <p class="mt-8 text-3xl font-semibold tracking-tighter text-black text-pretty">
            Todo es es posible gracias a la ayuda de grandes empresas que creen en la transformacion digital
          </p>
          <!-- <p class="mt-4 text-base text-gray-500">No subscription required!</p> -->
          <div class="flex flex-col items-center gap-2 mx-auto mt-8 md:flex-row">
            <button class="inline-flex items-center justify-center w-full h-12 gap-3 px-5 py-3 font-medium text-white duration-200 bg-gray-900 md:w-auto rounded-xl hover:bg-gray-700 focus:ring-2 focus:ring-offset-2 focus:ring-black" aria-label="Primary action">
              Contactanos
            </button>
            <button class="inline-flex items-center justify-center w-full h-12 gap-3 px-5 py-3 font-medium duration-200 bg-gray-100 md:w-auto rounded-xl hover:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" aria-label="Secondary action">
              Agenda
            </button>
          </div>
          
          <!-- mobile -->
          <div class="mt-12 xl:hidden md:hidden">
            <div class="grid grid-cols-2 gap-8 md:grid-cols-5">
              <div class="flex justify-center col-span-1">
                <img class="max-h-12" src="/images/logos/1.svg" alt="logo">
              </div>
              <div class="flex justify-center col-span-1">
                <img class="max-h-12" src="/images/logos/2.svg" alt="logo">
              </div>
              <div class="flex justify-center col-span-1">
                <img class="max-h-12" src="/images/logos/3.svg" alt="logo">
              </div>
              <div class="flex justify-center col-span-1">
                <img class="max-h-12" src="/images/logos/4.svg" alt="logo">
              </div>
              <div class="flex justify-center col-span-1">
                <img class="max-h-12" src="/images/logos/5.svg" alt="logo">
              </div>
            </div>
          </div><!-- mobile FIN -->

        </div>
        <section class="overflow-hidden">
          <div class="px-8 py-20 mx-auto md:px-12  max-w-7xl">
            <div class="flex flex-col mx-auto sm:flex-row">
              <div class="text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom border transformrelative rounded-3xl rotate-6 hover:rotate-0 hover:-translate-y-12 hover:scale-150">
                <!-- <img src="../images/placeholders/rectangle1.svg" class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">Meta</p>
              </div>
              <div class="text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom border transformrelative rounded-3xl -rotate-12 hover:rotate-0 hover:-translate-y-12 hover:scale-150">
                <!-- <img src="../images/placeholders/rectangle1.svg " class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">Google</p>
              </div>
              <div class=" text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom border transformrelative rounded-3xl rotate-6 hover:rotate-0 hover:-translate-y-12 hover:scale-150">
                <!-- <img src="../images/placeholders/rectangle1.svg" class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">Microsoft</p>
              </div>
              <div class="text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom border transformrelative rounded-3xl rotate-6 hover:rotate-0 hover:-translate-y-12 hover:scale-150">
                <!-- <img src="../images/placeholders/rectangle1.svg" class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">Adibas</p>
              </div>
              <div class="text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom border transformrelative rounded-3xl rotate-6 hover:rotate-0 hover:-translate-y-12 hover:scale-150">
                <!-- <img src="../images/placeholders/rectangle1.svg" class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">Vans</p>
              </div>
              <div class="text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom border transformrelative rounded-3xl rotate-6 hover:rotate-0 hover:-translate-y-12 hover:scale-150">
                <!-- <img src="../images/placeholders/rectangle1.svg" class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">Surnet</p>
              </div>
              <div class="text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom border transformrelative rounded-3xl rotate-6 hover:rotate-0 hover:-translate-y-12 hover:scale-150">
                <!-- <img src="../images/placeholders/rectangle1.svg" class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">Dell</p>
              </div>
              <div class="text-4xl h-full p-2 overflow-hidden duration-500 origin-bottom transform border rounded-3xl hover:rotate-0 hover:-translate-y-12 -rotate-12 hover:scale-150">
                <!-- <img src="../../public/assets/logo.png" class="object-cover w-full h-full border shadow-2xl rounded-2xl aspect-square" alt="#_"> -->
                <p class="p-2">OpenAI</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>
    
  </section>

 
